<section ng-controller="RemindersCtrl" flex layout-padding class="m43-bg">

	
	
<md-content class="md-whiteframe-1dp">
	<md-list flex>
        <md-subheader class="md-no-sticky">My Reminders</md-subheader>

        <md-list-item class="md-3-line" ng-repeat="item in remidersList" ng-click="null">
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.id }}</h3>
            <h4>{{ item.title }}</h4>
          </div>
          <md-button class="md-secondary" ng-click="showInfo(item.id);">More Info</md-button>
        </md-list-item>
    </md-list>
</md-content>
	

</section>