<section layout="column" ng-controller="BugReportingCtrl" layout-padding>
    <div layout-padding>


            <fieldset class="standard">
                <legend>Filters</legend>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm flex="40">
                        <label>Search</label>
                        <input ng-model="user.firstName">
                    </md-input-container>
                    <div layout="row" layout-align="start center">
                        <md-button>Search</md-button>
                        <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" style="margin-bottom: 0px;">
                            My issues
                        </md-checkbox>
                    </div>
                    <div flex></div>
                    <div layout="row" layout-align="start center">
                        <md-button class="md-primary md-raised">
                            <md-icon class="material-icons">bug_report</md-icon>
                            New Issue
                        </md-button>
                    </div>
                </div>
            </fieldset>

    </div>

    <div layout-padding>
        <md-content class="md-whiteframe-1dp">
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('openIssuesPage')" name="openIssuesPage">Open Issues</md-nav-item>
                <md-nav-item md-nav-click="goto('closedIssuesPage')" name="closedIssuesPage">Closed Issues</md-nav-item>
                <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
                <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
                <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
                -->
            </md-nav-bar>


            <md-list flex>
                <md-subheader class="md-no-sticky">Total Issues # {{totalIssues}}</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="bug in allReports" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        <h3 class="md-title">{{ bug.title }}</h3>
                        <p>{{ bug.description }}</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</section>