<section ng-controller="BugViewCtrl" layout-padding>
    <div layout-padding>
        <h3>{{bugView.title}}</h3>
        <p class="md-body-1">{{bugView.status}}</p>
    </div>
    <div layout-padding>
        <md-content class="md-whiteframe-1dp" layout-padding>
            <div layout="row">
                <p class="md-body-2">{{bugView.dateTime}}, &nbsp;&nbsp; {{bugView.user.name}} </p>
                <div flex></div>
                <p class="md-body-2">{{bugView.user.email}}</p>
            </div>
            <br>
            {{bugView.description}}
        </md-content>
        <br>
        <md-content class="md-whiteframe-1dp" layout-padding ng-repeat="comment in bugView.comments">
            <div layout="row">
                <p class="md-body-2">{{comment.dateTime}}, &nbsp;&nbsp; {{comment.user.name}} </p>
                <div flex></div>
                <p class="md-body-2">{{comment.user.email}}</p>
            </div>
            <br>
            {{comment.description}}
        </md-content>
        <br>
        <md-content flex class="md-whiteframe-1dp" layout-padding>
            <form>
                <textarea froala="froalaOptions" ng-model="guideObj.description"></textarea>
                <div layout="row">
                    <md-button class="md-raised md-primary" ng-click="updateReadMe()">Update</md-button>
                </div>
            </form>
        </md-content>
    </div>
</section>