<md-toolbar ng-controller="HeaderCtrl" md-whiteframe="6">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
            <i class="material-icons">reorder</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="CodingLabs">
            <md-icon md-svg-icon="assets/images/logo/codingLabs_logo.svg" style="width:65px; height:65px;"></md-icon>
        </md-button>
        <h2>
            <span>NBOS</span>
        </h2>
        <span flex></span>
        <ng-include ng-repeat="item in headerItems" src="item.templateUrl"></ng-include>

    </div>
</md-toolbar>

