<div layout="column" ng-controller="LoginCtrl">
    <nav class="fixed-toolbar" ng-include="'mod_idn/views/header/loginHeader.html'"></nav>

    <div layout="row" layout-padding class="login-content-padding">


        <div flex layout="column" layout-align="center center">

            <div layout="column" class="rotateGears">
                <div layout="row" class="codingGears">
                    <img class="logopart logopart1" ng-src="assets/images/logo/logo_ui_gear.svg" alt="UI" width="100"
                         height="100">
                    <img class="logopart logopart2" ng-src="assets/images/logo/logo_architecture_gear.svg" alt="UI"
                         width="100" height="100">
                </div>
                <div layout="row" class="codingGears">
                    <img class="logopart logopart3" ng-src="assets/images/logo/logo_webservices_gear.svg" alt="UI"
                         width="100" height="100">
                    <img class="logopart logopart4" ng-src="assets/images/logo/logo_db_gear.svg" alt="UI" width="100"
                         height="100">
                </div>
            </div>


            <h2 class="md-display-1">Welcome to the NBOS App!</h2>
            <p class="md-subhead">
                A one stop solution to your Business needs.
            </p>
            <md-button class="md-raised md-accent" ui-sref="idn.register">Sign Up Now</md-button>
        </div>

        <div style=" width: 500px;" layout="row" layout-align="center center">

            <section md-whiteframe="1" flex>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Sign In</h2>
                    </div>
                </md-toolbar>
                <md-content layout-padding>
                    <form name="loginForm" ng-submit="validateuser(loginForm);">
                        <md-input-container class="md-block">
                            <label>Username/Email</label>
                            <input required name="userName" ng-model="user.username">
                            <!--<input required name="userName" ng-model="user.username" ng-pattern="/^.+@.+\..+$/">-->
                            <div ng-messages="loginForm.userName.$error" role="alert">
                                <div ng-message-exp="['required', 'pattern']">
                                    Your username must look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input required type="password" name="userPassword" ng-model="user.password" minlength="8"/>
                            <div ng-messages="loginForm.userPassword.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength']">
                                    Your password was required to have a minimum length of 8.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-button class="md-raised md-primary" type="submit" ng-disabled="loginForm.$invalid || disableLogin"
                                       style="width: 100%;">Sign In
                            </md-button>
                        </md-input-container>

                        <md-button ui-sref="idn.forgot">Forgot Password?</md-button>

                        <hr/>
                        <div layout="row">
                            <span flex></span>
                            <h2 class="md-subhead">- OR -</h2>
                            <span flex></span>
                        </div>

                        <div layout="row">
                            <md-button class="md-raised fbBtn" ng-click="socialLogin('fb')">
                                <div layout="row" layout-align="center center">
                                    Sign Up with
                                    <md-icon md-svg-src="assets/icons/facebook.svg"></md-icon>
                                </div>
                            </md-button>
                            <span flex></span>
                            <md-button class="gpBtn md-raised" ng-click="socialLogin('google')">
                                <div layout="row" layout-align="center center">
                                    Sign Up with
                                    <md-icon md-svg-src="assets/icons/googlePlus.svg"></md-icon>
                                </div>
                            </md-button>
                        </div>

                    </form>


                </md-content>
            </section>

        </div>
    </div>
</div>
